body{
overflow:hidden;
<!--background-color:grey;-->
}

.container{
width:100vw;
<!--background-color:red;-->
}
.row{
height:100vh;
<!--background-color:yellow;-->
}

/* The heart of the matter */
.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}

/* Decorations */
.col-xs-4 { 

  height:85vh;
  width:50vw;
  font-size: 48px; 
  padding:20px 50px 20px;
  
  
}



.text-block{
overflow:hidden;
white-space: normal;
font-size: 14pt;
float:left !important;
color:black;
}

img {
<!--    display:block;-->
    margin-left: auto;
	margin-right: auto;
    max-width:100%;
    max-height:100%;
}    

.img-wrapper{
}


body ::-webkit-scrollbar {
/*    background-color: black;*/
height:5px;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: black;
    width: 10vw;
/*
    border-left: 1px solid $backgroundColor;
    border-top: 1px solid $backgroundColor;
*/
}

.sidebar{
}

.project-title{
    font-family: 'Muli', sans-serif;
    font-size: 16px;
}
.overlay-project {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 111111111;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);        
    overflow: scroll;
    font-family: 'Muli', sans-serif;
}
.overlay-project-wrapper{
/*    top, right, bottom, left*/
    padding: 5% 15% 10% 15%;
}
.overlay-project-title{
    display: block;
    font-size: 35px;
    font-weight:400;
    padding-bottom: 30px;
    color: black;
    text-align: center;
}
.overlay-project-content{
    font-size: 23px;
    color: black;
}