<style>
    .footer-wrapper{
    position:fixed; 
        width:100vw; 
        height:5vh; 
        top:95vh; 
        bottom:15vh; 
        padding-bottom:200px; 
        margin: 0px 0px 0px; 
        opacity: 1;    
    }
    
    .footer{
        background-color:grey;
    }
    .a-project-title{
        padding-bottom: 10px;
    }
</style>


<div class="footer">
    <div class="container">
        <ul style="margin-top: 15px;">
<!--            <a class="a-project-title">Kūryba / {{ page.project-page-title }}</a>-->
            
            


{% for image in site.static_files %}
    {% if image.path contains page.title %}
            <a class="caption-text">{{ image.basename | slice: 3,1000}}</a>
    {% endif %}
{% endfor %}




            
            
            
        </ul>
    </div> 
</div>