
<style>

    .navbar{
        position: fixed;
        top: 30px;
        width: 100vw;
        border-width: 0px;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0);
        font-family: 'Muli', sans-serif;
    
    }
    .navbar a{
        font-size: 16px;    
    }
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
    
 .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 111111111;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);        
}

    .overlay-content {
    position: relative;
    top: 35%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}    
    
</style>


<div class="overlay">
    <div class="overlay-content"> 
    <a href="#">Biografija</a>
    <a href="/_pages/page-list.html">Page List</a>
    <a href="#">Kontaktai</a>
    <a href="" id="close-btn-2">&times;</a>  
    </div>
</div>


<nav class="navbar navbar-default" role="navigation">
    {% if page.tag == "project-page" %}
    <a class="navbar-brand" href="/index.html">{{site.title}}</a>
    {% endif %}
    <ul class="nav navbar-nav navbar-right">
    {% if page.tag != "project-page" %}
        <a class="navbar-brand" style="text-align: right; padding-right: 150px;" href="/index.html">{{site.title}}</a>
    {% endif %}
        <li><a class="a-page-info" style="font-size: 36px; padding-right: 100px;" >&#9776;</a></li>
    </ul>        
</nav>


<script>
var overlay_is_on;
$(document).ready(function(){
  $('.a-project-info').click(function(){
   $(".overlay-1").fadeIn().css("display","block");
    overlay_is_on = true;
      console.log(overlay_is_on);
      });
    
  $('#close-btn-1').click(function(){
        $('.overlay-1').fadeOut("slow");
         overlay_is_on = false;
          console.log(overlay_is_on);
    });
    
    
  $('.a-page-info').click(function(){
        $(".overlay").fadeIn().css("display","block");
   });
  
  $('#close-btn-2').click(function(){
        $('.overlay-1').fadeOut("slow");
    });
    
});

</script>


    
