<html>
  <head>
    <meta charset="UTF-8">
    <title>{{page.project-page-title}}</title>
    {% include external-dependancies.html %}   
    <link rel="stylesheet" type="text/css" href="/css/project-page-stylesheet.css">  
  </head>
  
  <body>
      {% include header.html %}
    <div class="row header-wrapper" style="">
  
        <div class="row" style="position:fixed; width:20vw; height:70vh; top:15vh; opacity: 0.7; background: -webkit-linear-gradient(left, rgba(255,255,255,87) -15%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 100%); z-index:1;"></div> 
        
        <div class="row sidebar" style="position:fixed; width:10vw; height:70vh; top:15vh; left:90vw; margin: 0px 0px 0px; opacity: 0.7; background: -webkit-linear-gradient(right, rgba(255,255,255,87) -115%,rgba(255,255,255,-5) 91%,rgba(255,255,255,0) 185%); z-index:111; z-index:1"></div>     
  
  
        <div class="container testimonial-group">
          <div class="row" id="text-center">  
                {% for image in site.static_files %}
                    {% if image.path contains page.title %}
                        <div class="col-xs-4" style="width:50vw; padding-top:15vh;">
                            <img class="" src="{{ site.baseurl }}{{ image.path }}" alt="image" />         
                        </div>
                    {% endif %}
                {% endfor %} 
              <div class="col-xs-12" style=" width: 100vw; height: 50px; bottom: 10px; position: fixed; background-color: ;">
                <span class="navbar-brand">{{page.project-page-title}}</span>
              </div>
          </div>
<!--
            <div class="row">
            
        </div>
-->
        </div>
        
    </div>
      
    <script src="{{ "/assets/js/horizontal-scroll-script.js" }}"></script>
    
</body>
</html>