<html>
  <head>
    <meta charset="UTF-8">
    <title>{{page.project-page-title}}</title>
    {% include external-dependancies.html %}   
    <link rel="stylesheet" type="text/css" href="/css/project-page-stylesheet.css">  
      
      <style>
      
        .caption-wrapper{
        position:fixed; 
/*        width:100vw; */
        height:5vh; 
        top:75vh; 
        bottom:5vh; 
        padding-bottom:200px; 
        margin: 0px 0px 0px; 
        opacity: 1;    
        background-color: aqua;
    }

      
      </style>
      
  </head>
  
  <body>  
    <div class="row header-wrapper" style="">
        <div class="row" style="position: fixed; z-index: 111111111;">
        {% include header-new.html %}
        </div>
        
        <div class="container testimonial-group">
          <div class="row" id="text-center">  
                {% for image in site.static_files %}
                    {% if image.path contains page.title %}
                        <div class="col-xs-4" style="width:50vw; padding-top:15vh; background-color:;">
                            <img class="image-gallery" src="{{ site.baseurl }}{{ image.path }}" alt="image" id="img1" />         
                        </div>
                    {% endif %}
                {% endfor %} 
          </div>
        </div>
        

        
    <div class="row footer-wrapper" style="">
            {% include footer.html %}    
    </div>
</div>    
    
      
    <script src="{{ "/assets/js/horizontal-scroll-script.js" }}"></script>
      
      
</body>
</html>